<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div>
    <input type="text" class="input-channel-name">
    <button class="btn-primary">GO</button>
  </div>
</body>
</html>