<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
</head>

<body>
    <h3>Results:</h3>
        <div class="finalResult">
            <div class="subsCountHeading">Total Number of Subscribers: <%= subsCount %></div>
            <div class="videoCountHeading">Total Videos <%= videoCount %></div>
            <div class="viewCountHeading">Total Views <%= viewCount %></div>
        </div>

</body>

</html>