<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/searchresults.css">
</head>

<body>

    <h3>Search Results:</h3>
    <p>Showing <%= data.pageInfo.resultsPerPage %> out of <%= data.pageInfo.totalResults %> results</p>
    <div class="list-group">
    <% listOfItems.forEach(function(item){ %>
      <a href="https://www.youtube.com/channel/<%=item.snippet.channelId %>" class="list-group-item list-group-item-action">
        <%=item.snippet.channelTitle %>
      </a>
    <% }) %>

    </div>



</body>

</html>
