<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <form method="post" target="/statPub">
  <div>
    <input type="text" name="channelUrl" class="channelUrl">
    <button class="btn-primary">GO</button>
  </div>
  </form>
</body>
</html>
