<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <form method="post" target="">
  <div>
    <input type="text" name="channelUrl" class="channelUrl" placeholder="Enter Channel URL">
    <button type="submit" class="btn btn-primary">GO</button>
  </div>
  </form>
  
  
  <div class="finalResult">
    <h3>Results:</h3>
    <div class="subsCountHeading heading">Total Number of Subscribers: <%= subsCount %></div>
    <div class="videoCountHeading heading">Total Videos <%= videoCount %></div>
    <div class="viewCountHeading heading">Total Views <%= viewCount %></div>
  </div>
</body>
</html>
