<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youtube Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <form method="post" action="/searchChannel" class="search" >
    <input type="text" name="searchChannel" class="channel-name" placeholder="Enter Channel Name">
    <button type="submit" target="_self" class="btn btn-primary">Search</button>
  </form>


  <form method="post" action="/statPub">
  <div>
    <input type="text" name="channelUrl" class="channel-url" placeholder="Enter Channel URL">
    <button type="submit" target="_self" class="btn btn-primary">GO</button>
  </div>
  </form>

  <% if ( subsCount!="" || videoCount!="" || viewCount!="" ) { %>
  <div class="finalResult">
    <h3>Results:</h3>
    <div class="subsCountHeading heading">Total Number of Subscribers: <%= subsCount %></div>
    <div class="videoCountHeading heading">Total Videos: <%= videoCount %></div>
    <div class="viewCountHeading heading">Total Views: <%= viewCount %></div>
  </div>
  <% } %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="javascripts/index.js"></script>
  
</body>
</html>
