.card {
  width: 40%;
  height: 80vh;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media only screen and (max-width: 920px) {
  .card {
    width: 80%;
    height: 80vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
