body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;
}

.heading{
  font-size: large;
  line-height: 5vh;
}
.finalResult{
  background-color: white;
  padding: 20px;
}
.channelUrl{
  line-height: 5vh;
  width: 50vw;
}