.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}
.nav-logo {
  width: 10%;
  height: auto;
}

.search {
  width: 50%;
  height: 5vh;
  border: rgb(180, 180, 180) 1px solid;
  border-radius: 3px;
  padding: 5px 7px;
}

.search-input {
  width: 95%;
  border: none;
  background: none;
  color: #777;
}
.search-input::placeholder {
  color: #777;
}

.search-icon {
  background: none;
  border: none;
  width: 5%;
  color: #777;
}

.nav-options {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.active {
  color: orange;
}

#login-btn {
  text-decoration: none;
  background: linear-gradient(180deg, #ffb800 0%, #ff0f00 100%);
  border-radius: 5px;
  color: white;
  padding: 5px 7px;
}
